*{
    padding: 6px;
    margin: 0px;
    box-sizing: border-box;
}
html{
font-size: 62.5%;
}
.hola{
    width: 141.732rem;
	height:63rem; 
    background-color: aquamarine;
    border-radius: 6rem;
    display: flex;
    flex-direction: column;
}
.uno{
    width: 5rem;
    height: 5rem;
    background-color: white;
    border-radius: 10rem;
    align-self: flex-start;
    margin-top: 4rem;
    margin-left: 4rem;
}
.dos{
    width: 30rem;
    height: 4rem;
    background-color: white;
    border-radius: 1.5rem;
    align-self: center;
    margin-top: 45rem;
    
}
