*{
padding: 0px;
margin: 0px;
box-sizing: border-box; 
    
}
html{
    font-size: 62.5%;
}
.hola{
    width: 37.5rem;
    height: auto;
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

.uno{
    width: 10rem;
    height: 10rem;
    background-color: mediumpurple;
    border-radius: 10rem; 
    margin-top: 10rem;
    align-self: center;
}

.dos{
    width: 27rem;
    height: 2rem;
    background-color: rebeccapurple;
    border-radius: 6rem;
    margin-top: 3rem;
    align-self: center;
}
.tres{
    width: 13rem;
    height: 1.5rem;
    background-color: #0A0B57;
    border-radius: 6rem;
    margin-top: 3rem;
    align-self: center;
}
.cuatro{
    width: 13rem;
    height: 1.5rem;
    background-color: #0A0B57;
    border-radius: 6rem;
    margin-top: 1.5rem;
    align-self: center;
}
.cinco{
    width: 27rem;
    height: 13rem;
    background-color: darkorange;
    border-radius: 2rem;
    margin-top: 3rem;
    align-self: center;
}
.seis{
    width: 27rem;
    height: 2.5rem;
    background-color: #0A0B57;
    border-radius: 0.5rem;
    margin-top: 3rem;
    align-self: center;
}

















